.center {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65px;

}

.box {

    width: 100%;

}

.topnav {

    overflow: hidden;

}

.topnav a {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;

}

.topnav a.leftTopNav {

    display: inline-block;
    text-decoration: none;
    margin-top: auto;
    margin-left: 8px;
    color: rgb(39, 39, 39);
    float: left;
    padding: 10px;

}

.topnav a.leftTopNav:hover {

    text-decoration: underline;

}

.topnav a.rightTopnav {

    text-decoration: none;
    margin-top: auto;
    color: rgb(39, 39, 39);
    padding-top: 25px;
    padding-right: 20px;
    float: right;

}

.topnav a.rightTopNav:hover {

    text-decoration: underline;
    
}

.searchBar {

    text-align: center;

}
.search {

    padding-left: 15px;
    padding-right: 15px;

}

#searchBox {

    margin: auto;
    width: 200px;
    text-align: left;
    outline: none;
    border-radius: 25px;
    border: 1px solid lightgrey;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    width: 40%;
    height: 35px;
    margin-top: 20px;
    box-shadow: lightgray;


}

#thGlyphicon {

    float: right;
    text-decoration: none;
    outline: none;
    position: relative;
    padding-top: 25px;
    color: grey;
    height: 100px;
    padding-right: 20px;
    font-size: 18px;
}

#thGlyphicon:hover {

    color: black;
    cursor: pointer;

}


.googleButtons {

    margin-top: 25px;
    text-align: center;
    outline: none;
}

.button {

    outline: none;
    text-decoration: none;
    background-color: rgb(243, 243, 243);
    color: rgb(87, 87, 87);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    border: 0px;
    border-radius: 5px;

}

.button:hover {

    outline: none;
    border: 1px solid lightgrey;


}


#profilePicture {

    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: right;
    margin-right: 30px;
    margin-top: 20px;

}

#profilePicture {

    cursor: pointer;

}

.centerText {

    text-align: center;
    position: relative;
    margin-top: 18px;
    font-size: 12px;
    color: darkblue;
    cursor: pointer;

}

.footer {

    position: absolute;
    background-color: #f3f3f3;
    height: 40px;
    width: 100%;
    bottom: 0%;
    border: 1px solid rgb(202, 202, 202);
    box-shadow: 1px darkgray;
    display: block;

}

.footer a.footerLeft {

    text-decoration: none;
    color: rgb(87, 87, 87);
    margin-top: auto;
    float: left;
    padding-left: 25px;
    padding-top: 10px;
    font-size: 13px;

}

.footer a.footerRight {

    text-decoration: none;
    color: rgb(87, 87, 87);
    margin-top: auto;
    float: right;
    padding-right: 25px;
    padding-top: 10px;
    font-size: 13px;


}

.footer a.footerLeft:hover {

    text-decoration: underline;

}

.footer a.footerRight:hover {

    text-decoration: underline;

}


